      {% load static %}
      <!-- BEGIN SIDEBAR & CONTENT -->

      <div class="row margin-bottom-40 ">
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-3 col-sm-4">
          {% load mptt_tags %}
          <ul class="list-group margin-bottom-25 sidebar-menu">
            {% recursetree category %}
            <li class="list-group-item clearfix dropdown">


             <a href="/shop-product-list/{{node.id}}/{{node.slug}}" >


                {{ node.title }}
                 {% if not node.is_leaf_node %}
              </a>
              <ul class="dropdown-menu">
               {{ children }}
                  <a href=""> </a>
              </ul>
               {% endif %}
            </li>
            {% endrecursetree %}
          </ul>
        </div>

