    <!-- BEGIN STEPS -->
    <div class="steps-block steps-block-red">
        <div class="container">
          <div class="row">
            <div class="col-md-4 steps-block-col">
              <i class="fa fa-truck"></i>
              <div>
                <h2>Çatdırılma</h2>
                <em>Ölkə daxili çatdırılma</em>
              </div>
              <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
              <i class="fa fa-gift"></i>
              <div>
                <h2>Kampaniyalar</h2>
                <em>Yenilənən kampaniyalar və endirimlər</em>
              </div>
              <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
              <i class="fa fa-phone"></i>
              <div>
                <h2>{{setting.phone}}</h2>
                <em></em>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END STEPS -->